<div class="bg-gray-100 flex items-center justify-center h-screen">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" hx-post="/account/login" hx-target="#login-result" hx-swap="outerHTML">
        <div class="mb-4">
            <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
            <input type="email" id="email" name="email" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700">
        </div>
        <div class="mb-6">
            <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
            <input type="password" id="password" name="password" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700">
        </div>
        <div class="flex items-center justify-between">
            <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Login</button>
        </div>
    </form>
    <div id="login-result"></div>
</div>



<script>
  // Добавляем логику редиректа после успешной регистрации
  document.addEventListener("htmx:afterRequest", (event) => {
    if (event.detail.xhr.status === 200) {
      console.log(event.detail.xhr);
    }
  });
</script>
