<div role="alert"
     class="top-5 mt-3 flex p-3 mx-10 bg-red-600 rounded-md relative items-center justify-between" id="notification">
    <div class="text-sm text-white "><%= message %></div>
    <button class="flex items-center justify-center transition-all w-8 h-8 rounded-md text-white hover:bg-white/10 active:bg-white/10"
            type="button" onclick="notification.style.display = 'none'">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
             class="h-5 w-5"
             stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
    </button>
</div>
